<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Still Untitled: Author Page</title>
</head>
<body>

    <h2 th:if="${message}" th:text="${message}"></h2>

    <form action="#" th:action="@{/articleSubmitForm}" th:object="${article}" enctype="multipart/form-data" method="POST">
        <table>
            <tr>
                <td>Article Title:</td>
                <td><input type="text" th:field="*{title}" /></td>
                <td>File to upload:</td>
                <td><input type="file" name="file" /></td>

                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</td>
            </tr>
            <tr>
                <td><button type="submit">Upload and submit</button></td>
            </tr>
        </table>
    </form>

    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>

    <p><a href="/logout">Logout</a></p>
    <footer>A project by Test Group Please Ignore</footer>
</body>
</html>