<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Still Untitled: Login Page</title>
</head>
<style>
    body {
        font-family: "Lato", sans-serif;
    }
    
    .sidestats {
        height: 100%;
        width: 260px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }
    
    .sidestats p {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #b6b6b6;
        display: block;
    }
</style>
<body>
    <h1>Article Submit and Review</h1>
    <div class="sidestats">
        <p>Number of articles:</p>
        <p th:text="${numArticles}"></p>
        <p>Number of users:</p>
        <p th:text="${numUsers}"></p>
    </div>
    <div class="main">
    <table>
        <form action="#" th:action="@{/loginPage}" th:object="${user}" method="post">
                <tr>
                    <td>Username:</td>
                    <td><input type="text" th:field="*{username}" /></td>
                    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Login</button></td>     
            </form>
            <td>
                <br>
                <form action="/registerUserForm" method="get">
                    <input type="submit" value="Register" />
                </form>
            </td>
        </tr>
    </table>
    </div>
    <footer>A Project by Test Group Please Ignore</footer>
</body>
</html>